In [221]:
"""
Find the kth largest/smallest item from a list
"""

l1 = [50,24,59,67,10,5,41,27]
k = 4
l1_s = sorted(l1)
print(l1_s)
print(l1_s[k-1])

print('-'*30)
L = [12,23,1,4,56,34,22,3]
k=3

L.sort(reverse=True)
print(L)
print(L[k-1])

[5, 10, 24, 27, 41, 50, 59, 67]
27
------------------------------
[56, 34, 23, 22, 12, 4, 3, 1]
23

In [225]:
# 2. Check if an array is sorted
l1 = [10,20,30,40,50]

flag = False
for x in range(1, len(l1)):
    if l1[x-1] > l1[x]:
        flag = True
        
        
if flag:
    print("Not Sorted")
else:
    print("Sorted")

Sorted

In [229]:
"""
# 3. Find Min/Max in a given array
"""

l1 = [50,10,35,97,45,27,46]
print(min(l1), max(l1))

minv = l1[0]
maxv = l1[0]
for x in l1:
    if x <= minv:
        minv = x
    
    if x >= maxv:
        maxv = x
        
print("Min is {} and Max is {}".format(minv, maxv))

10 97
Min is 10 and Max is 97

In [237]:
"""
# 4. Find the first element to occur k times in an array
"""

l1 = [50,10,50,46,27,10,50,35,97,45,27,46]
k = 2
d = dict()
for x in l1:
    if x in d:
        d[x] += 1
    else:
        d[x] = 1
        
elem = 0
for y in d:
    if d[y] == k:
        elem = y
        break
print(d)
print("Element is ", elem)

{50: 3, 10: 2, 46: 2, 27: 2, 35: 1, 97: 1, 45: 1}
Element is  10

In [242]:
"""
# 5. Find duplicates in an array
"""
l1 = [50,10,50,46,27,10,50,35,97,45,27,46]
d = dict()
for x in l1:
    if x in d:
        d[x] += 1
    else:
        d[x] = 1
        
for y in d:
    if d[y] > 1:
        print("Duplicate values are {} ".format(y))

Duplicate values are 50
Duplicate values are 10
Duplicate values are 46
Duplicate values are 27

In [243]:
# 6. Rotate array to left d items

L = [1,2,3,4,5]   # 34512
rotate = 2
res = L[rotate:] + L[0:rotate]
print(res)

[3, 4, 5, 1, 2]

In [244]:
# 7. Find intersection of 2 sorted arrays

a = [1,2,3,4,5,8]
b = [3,6,7,8]

res = []
for x in a:
    if x in b:
        res.append(x)
        
print(res)

[3, 8]

In [275]:
# 8. Find continous subarray with a given sum(given non-negative numbers)
# return the starting and ending index of the subarray
# return 1st subarray in case of multiple

L = [1,22,13,7,9,11,10]
S = 16

for x in range(0, len(L)):
    res = []
    for y in range(x, len(L)):
        res.append(L[y])
        if sum(res) == S:
            print(res)
        #print(res ,"=====>",sum(res))

[7, 9]

In [282]:
# 9. Find element with left side smaller/right side greater in an array
L = [3,1,2,5,8,7,9]

for x in range(1,len(L)-1):
    if max(L[:x]) < L[x] < min(L[x+1 : ]):
        print(L[x])

5

In [297]:
"""
# 10. Maximum sum subarray
"""

L = [1,22,13,7,9,11,10]
d = dict()
for x in range(0, len(L)):
    res = []
    for y in range(x, len(L)):
        res.append(L[y])
        d[sum(res)] = res

max_val = max(d.keys())
print(max_val)
print(d[max_val]) 
print(d[sorted(d, reverse=True)[0]])

73
[1, 22, 13, 7, 9, 11, 10]
[1, 22, 13, 7, 9, 11, 10]

In [299]:
# 12. Move all -ve numbers to the end

L = [-1,-2,4,5,7,-5,0,-7,6,2]
sorted(L, reverse=True)

[7, 6, 5, 4, 2, 0, -1, -2, -5, -7]

In [303]:
"""
# 10. Maximum product subarray
"""
L = [1,22,13,7,9,11,10]
d = dict()
for x in range(0, len(L)):
    res = []
    product = 1
    for y in range(x, len(L)):
        res.append(L[y])
        product *= L[y]
        d[product] = res
        print(res, "=======>", product)

max_val = max(d.keys())
print(max_val)
print(d[max_val]) 
print(d[sorted(d, reverse=True)[0]])

[1] =======> 1
[1, 22] =======> 22
[1, 22, 13] =======> 286
[1, 22, 13, 7] =======> 2002
[1, 22, 13, 7, 9] =======> 18018
[1, 22, 13, 7, 9, 11] =======> 198198
[1, 22, 13, 7, 9, 11, 10] =======> 1981980
[22] =======> 22
[22, 13] =======> 286
[22, 13, 7] =======> 2002
[22, 13, 7, 9] =======> 18018
[22, 13, 7, 9, 11] =======> 198198
[22, 13, 7, 9, 11, 10] =======> 1981980
[13] =======> 13
[13, 7] =======> 91
[13, 7, 9] =======> 819
[13, 7, 9, 11] =======> 9009
[13, 7, 9, 11, 10] =======> 90090
[7] =======> 7
[7, 9] =======> 63
[7, 9, 11] =======> 693
[7, 9, 11, 10] =======> 6930
[9] =======> 9
[9, 11] =======> 99
[9, 11, 10] =======> 990
[11] =======> 11
[11, 10] =======> 110
[10] =======> 10
1981980
[22, 13, 7, 9, 11, 10]
[22, 13, 7, 9, 11, 10]

In [305]:
# 14. Find union of 2 arrays
l1 = [1,2,3,4]
l2 = [5,6,7,8]

res = set(l1).union(set(l2))
res

{1, 2, 3, 4, 5, 6, 7, 8}

In [306]:
def find_pythagorean_triplets(arr):
    n = len(arr)
    triplets = []
    
    # Check all triplets (a, b, c)
    for i in range(n):
        for j in range(i + 1, n):
            for k in range(j + 1, n):
                a, b, c = sorted([arr[i], arr[j], arr[k]])  # Ensure a ≤ b < c
                if a**2 + b**2 == c**2:
                    triplets.append((a, b, c))
    
    return triplets

# Example
arr = [3, 1, 4, 6, 5]
print(find_pythagorean_triplets(arr))  # Output: [(3, 4, 5)]

[(3, 4, 5)]

In [307]:
L = [-2,4,7,-1,6,-11,14,3,-1,-6]


curr_sum = 0
curr_seq = []
best_sum = L[0]
best_seq = []

for i in L:
  if i + curr_sum > i:
    curr_sum = curr_sum + i
    curr_seq.append(i)
  else:
    curr_sum = i
    curr_seq.clear()
    curr_seq.append(i)

  if curr_sum > best_sum:
    best_sum = curr_sum
    best_seq = curr_seq

print(best_sum,best_seq)

22 [4, 7, -1, 6, -11, 14, 3, -1, -6]

In [188]:
class Car:
    __no_of_instance = 0
    def __init__(self):
        Car.__no_of_instance += 1
        
    @staticmethod
    def get_no_of_instance():
        return Car.__no_of_instance
    
obj1 = Car()
obj2 = Car()
obj3 = Car()

Car.get_no_of_instance()

3

In [195]:
import random

class Card:

  def __init__(self,suit,value):
    self.suit = suit
    self.value = value

  def __repr__(self):
    return "{}->{}".format(self.suit,self.value)

class Deck:

  def __init__(self):
    suits = ['Hearts','Diamonds','Clubs','Spades']
    values = ['A','2','3','4','5','6','7','8','9','10','J','K','Q']
    self.cards = [Card(suit,value) for suit in suits for value in values]

  def __str__(self):
    return "Cards left " + str(len(self.cards))

  def shuffle(self):
    if len(self.cards) < 52:
      print('only full deck can be shuffled')
    else:
      random.shuffle(self.cards)
    return self.cards

  def deal(self):
    if len(self.cards) == 0:
      print('All cards have been dealt')
    return self.cards.pop()


deck = Deck()
deck.shuffle()
print(deck.deal())
print(deck.deal())
print(deck.deal())
print(deck.deal())
print(deck)

Clubs->5
Spades->6
Hearts->8
Spades->2
Cards left 48

In [197]:
class Rectangle:

  def __init__(self,l,b):
    self.length = l
    self.breadth = b

  @classmethod
  def property(cls,length,bre):
    return cls(length,bre)

  def area(self):
    return self.length*self.breadth

  def is_square(self):
    return True if self.length == self.breadth else False

r = Rectangle.property(4,5)
print(r.area())
print(r.is_square())

20
False

In [199]:

import datetime

class Product:

  def __init__(self):
    self.manufacture_date = input('enter manufacturing date (MM/DD/YYYY)')
    self.expiry_date = input('enter expiry date (MM/DD/YYYY)')

    self.manufacture_date = datetime.datetime.strptime(self.manufacture_date, '%m/%d/%Y')
    self.expiry_date = datetime.datetime.strptime(self.expiry_date, '%m/%d/%Y')

  def time_to_expire(self):
    today = datetime.datetime.now()

    if today > self.expiry_date:
      print('product expired already')
    else:
      time_left = self.expiry_date.date() - today.date()
      print(time_left)

obj = Product()
obj.time_to_expire()

enter manufacturing date (MM/DD/YYYY)02/10/2025
enter expiry date (MM/DD/YYYY)03/15/2026
398 days, 0:00:00

In [200]:
#Code here

class Student:

  def __init__(self):
    self.__sid = None
    self.__marks = None
    self.__age = None

  # setter methods
  def set_sid(self,sid):
    self.__sid = sid
  def set_marks(self,marks):
    self.__marks = marks
  def set_age(self,age):
    self.__age = age

  # getters
  def get_sid(self):
    return self.__sid
  def get_marks(self):
    return self.__marks
  def get_age(self):
    return self.__age

  def validate_age(self):
    return self.__age>20

  def validate_marks(self):
    return self.__marks>=0 and self.__marks<=100

  def check_qualification(self):
    if self.validate_age() and self.validate_marks():
      return self.__marks>= 65
    else:
      return False

stu1 = Student()

stu1.set_sid(101)
stu1.set_marks(66)
stu1.set_age(19)

print(stu1.get_sid())
print(stu1.get_marks())
print(stu1.get_age())

stu1.check_qualification()

101
66
19

False

In [202]:
#Write your code here

class Scoop:

  __counter = 0

  def __init__(self,flavor):
    self.flavor = flavor
    self.__price = None
    Scoop.__counter += 1


  def get_price(self):
    return self.__price

  def set_price(self,price):
    self.__price = price

  def __str__(self):
    return "Flavor - {} and Price - {}".format(self.flavor,self.__price)

  @staticmethod
  def sold():
    return Scoop.__counter


class Bowl:

  __counter = 0

  def __init__(self):
    self.__scoop_list = []
    Bowl.__counter += 1

  def add_scoops(self,*new_scoops):
    for scoop in new_scoops:
      self.__scoop_list.append(scoop)

  def display(self):
    total = 0
    for scoop in self.__scoop_list:
      print(scoop)
      total = total + scoop.get_price()

    print('total price',total)

  @staticmethod
  def sold():
    return Bowl.__counter

In [203]:
choco = Scoop('chocolate')
print(choco)
choco.set_price(100)

berry = Scoop('berry')
berry.set_price(120)
print(berry)

vanilla = Scoop('vanilla')
vanilla.set_price(150)

bowl = Bowl()

bowl.add_scoops(choco) # Giving one parameter
bowl.add_scoops(berry, vanilla) # Multiple
# add_scoops should handle both scenerios

print(bowl)

bowl.display()

print(Scoop.sold())
print(Bowl.sold())

Flavor - chocolate and Price - None
Flavor - berry and Price - 120
<__main__.Bowl object at 0x785203fcd340>
Flavor - chocolate and Price - 100
Flavor - berry and Price - 120
Flavor - vanilla and Price - 150
total price 370
3
1

In [204]:
# Write code here

class Vehicle:

  def __init__(self,type,capacity):
    self.type = type
    self.capacity = capacity

  def fare(self):
    return 100*self.capacity

class Bus(Vehicle):

  def fare(self):
    base_fare = super().fare()
    bus_fare = base_fare + 0.1*base_fare
    return bus_fare

bus = Bus('school bus',50)
print(bus.fare())

5500.0

In [ ]:
"""  Write a program that has a class Point. 
Define another class Location which has two objects (Location & Destination) of class Point. 
Also define a function in Location that prints the reflection of Destination on the x axis. """

class Point:

  def __init__(self,x,y):
    self.x = x
    self.y = y

  def show_point(self):
    return '{},{}'.format(self.x,self.y)

class Location:

  def __init__(self,x1,y1,x2,y2):
    self.source = Point(x1,y1)
    self.destination = Point(x2,y2)

  def show(self):
    print('source is',self.source.show_point())

  def reflection(self):
    self.destination.y = -self.destination.y
    print('Relection is',self.destination.show_point())

L = Location(0,0,1,1)
L.show()
L.reflection()

In [205]:
# Write code here
"""
Write a program that has an abstract class Polygon. 
Derive two classes Rectangle and Triamgle from Polygon 
and write methods to get the details of their dimensions and hence calculate the area.

"""
from abc import ABC,abstractmethod

class Polygon(ABC):

  @abstractmethod
  def get_data():
    pass

  @abstractmethod
  def area():
    pass

class Rectangle(Polygon):

  def get_data(self,l,b):
    self.l = l
    self.b = b

  def area(self):
    return self.l*self.b

class Triangle(Polygon):

  def get_data(self,b,h):
    self.b = b
    self.h = h

  def area(self):
    return 0.5 * self.b*self.h

rect = Rectangle()
rect.get_data(4,5)
print(rect.area())

tri = Triangle()
tri.get_data(4,5)
tri.area()

20

10.0

In [209]:
# Write code here
"""
Write a program with class Bill. The users have the option to pay the bill either by cheque or by cash. 
Use the inheritance to model this situation.
"""
class Bill:

  def __init__(self,items,price):
    self.total = 0
    self.items = items
    self.price = price

    for i in self.price:
      self.total = self.total + i

  def display(self):
    print('Item \t\t\t Price')
    for i in range(len(self.items)):
      print(self.items[i],'\t',self.price[i])
    print("*"*10)

    print("Total",self.total)

class CashPayment(Bill):

  def __init__(self,items,price,deno,value):
    super().__init__(items,price)

    self.deno = deno
    self.value = value

  def show_cash_payment(self):
    super().display()
    for i in range(len(self.deno)):
      print(self.deno[i],"*",self.value[i],"=",self.deno[i]*self.value[i])

class ChequePayment(Bill):

  def __init__(self,items,price,cno,name):
    super().__init__(items,price)

    self.cno = cno
    self.name = name

  def show_cheque_payment(self):
    super().display()
    print('Cheque no',self.cno)
    print('Bank name',self.name)
    
    
    
items = ["External Hard Disk", "RAM", "Printer", "Pen Drive"]
price = [5000, 2000, 6000, 800]
option = int(input("Would you like to pay by cheque or cash (1/2): "))

if option == 1:
    name = input("Enter the name of the bank: ")
    cno = input("Enter the cheque number: ")
    cheque = ChequePayment(items, price, cno, name)
    cheque.show_cheque_payment()

else:
    deno = [10, 20, 50, 100, 500, 2000]
    value = [1, 1, 1, 20, 4, 5]
    cash = CashPayment(items, price, deno, value)
    cash.show_cash_payment()

Would you like to pay by cheque or cash (1/2): 2
Item 			 Price
External Hard Disk 	 5000
RAM 	 2000
Printer 	 6000
Pen Drive 	 800
**********
Total 13800
10 * 1 = 10
20 * 1 = 20
50 * 1 = 50
100 * 20 = 2000
500 * 4 = 2000
2000 * 5 = 10000

In [64]:
class Rectangle:
    def __init__(self, length, width):
        self.__length = length
        self.__width = width

    
    def __perimeter(self):
        return  2* (self.__length +  self.__width)
    
    
    def __area(self):
        return  self.__length * self.__width
    
    
    def display(self):
        return { "Lenght" : self.__length, 
                 "width": self.__width, 
                 "Area": self.__area(), 
                "Peremeter": self.__perimeter()
               }
        
obj1 = Rectangle(3,4)
obj1.display()

{'Lenght': 3, 'width': 4, 'Area': 12, 'Peremeter': 14}

In [99]:
class BankAccount:
    def __init__(self, ac_no, name, bal):
        self.__ac_no = ac_no
        self.__name = name
        self.__bal = bal

    def deposit(self, amount):
        self.__bal = self.__bal + amount
        
    def bankFees(self, amount):
        self.__bal =  self.__bal - (amount * 0.05)
        
    def withdraw(self, amount):
        if amount > self.__bal:
            return "Insufficient Funds"
        self.bankFees(amount)
        
#         print( self.__bal)
        self.__bal = self.__bal - amount
#         print( self.__bal)
        
        
        

    def display(self):
        return {
            "Account Number :" : self.__ac_no,
            "Name :" : self.__name,
            "Balance:" : self.__bal,
        }
        
bobj1 = BankAccount("123456", "nitin", 2800)
bobj1.display()

bobj1.withdraw(700)
bobj1.display()


bobj1.deposit(1000)
bobj1.display()

{'Account Number :': '123456', 'Name :': 'nitin', 'Balance:': 3065.0}

In [131]:
class Computation:
    
    def Factorial(self, n):
        res = 1
        for x in range(1,n+1):
            res *= x
            
        return res
    
    def naturalSum(self, n):
        res = 0
        for x in range(1,n+1):
            res += x
            
        return res
    
    def testPrime(self, n):
        flag = True
        for x in range(2, n // 2+1):
            if n % x == 0:
                flag = False
        return flag
    
    def testPrims(self, n, k):
        fd = 1
        ld = 1
        for x in range(2, n // 2+1):
            if n % x == 0:
                fd = x
        
        for y in range(2, k // 2+1):
            if k % y == 0:
                ld = y
                
        if abs(fd - ld) == 1:
            return True
        else:
            return False
    
    def __tableMult(self, n):
        return [x*n  for x in range(1, 11) ]
    
    def allTablesMult(self, n):
        return self.__tableMult(n)
    
    def __listDiv(self, n):
        res = []
        for x in range(1,n+1) :
            if x % 2 == 0:
                res.append(x)
        
        return res
    
    
    def listDivPrim(self, n ):
        return self.__listDiv(n)
    
cobj = Computation()
cobj.Factorial(7)
cobj.naturalSum(5)
cobj.testPrime(7)
cobj.testPrims(5,6)
cobj.allTablesMult(15)
cobj.listDivPrim(15)

[2, 4, 6, 8, 10, 12, 14]

In [165]:
import random
class FlashCard:
    def __init__(self):
        print("Welcome to fruit quiz ")
        self.__fruits = {
            "Banana" : "Yellow",
            "Grapes" : "Green",
            "Orange" : "Orange",
            "Strawberries" : "Pink"
        }
        
        self.__fruit = random.choice( list(self.__fruits.items()) )[0]
        self.__color = random.choice( list(self.__fruits.items()) )[1]
        
    def display(self):
        
        while True:
            input_val = input("""
            What is color of {} ?
            """.format(self.__fruit))
            
            if input_val.lower() == self.__color.lower():
                print("Correct Answer")
                break
            else:
                print("Wrong Answer")
            
            que = input("Enter 0 to play again ")
            if que == "0":
                self.display()
                
            else:
                break

obj12 = FlashCard()
obj12.display()

Welcome to fruit quiz

            What is color of Banana ?
            green
Wrong Answer
Enter 0 to play again 1

In [163]:
class TechWorld:
    def __init__(self, name, skill, exp, feedback):
        self.__name = name
        self.__skill = skill
        self.__exp = exp
        self.__feedback = feedback
    
    def check_eligibility(self):
        if self.__exp > 3 and self.__feedback >= 4.5:
            return True
        elif self.__exp <= 3 and self.__feedback >= 4:
            return True
        else:
            return False
        
        
    def allocate_course(self, technology):
        if self.check_eligibility() == True:
            if technology in  self.__skill:
                return "Allocated"
            else:
                return "Not Allocated"
        else:
            return "Not Eligible"

        
        
    

tobj = TechWorld("Nitin", ["PHP","Python","Data Science","Machine Learning","MERN","ROR"],5,4.9)

tobj.check_eligibility()
tobj.allocate_course("ROR")

'Allocated'

In [1]:
# interchange first and last element

In [19]:
my_list = [1, 2, 3, 4, 5]

In [20]:
my_list[0] , my_list[-1] = my_list[-1], my_list[0]
my_list

[5, 2, 3, 4, 1]

##  Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

Salary(Lakhs) : Tax(%)

Below 5 : 0%

5-10 : 10%

10-20 : 20%

aboove 20 : 30%

In [175]:
ctc = float(input("Enter your ctc :"))
ctc_after_deduction = ctc - ctc * 0.18

print(ctc_after_deduction)

if ctc < 500000:
    print("Salary is : ", ctc_after_deduction / 12)
elif ctc >= 500000 and ctc < 1000000:
    print("Salary is : ", (ctc_after_deduction - ctc_after_deduction*0.10) / 12)
elif ctc >= 1000000 and ctc < 2000000:
    print('gg')
    print("Salary is : ", (ctc_after_deduction - ctc_after_deduction*0.20) / 12)
elif ctc >= 2000000:
    print("Salary is : ", (ctc_after_deduction - ctc_after_deduction*0.30) / 12)

Enter your ctc :800000
656000.0
Salary is :  49200.0

In [22]:
type([1,2,3])

list

In [23]:
dir([1,2,3])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
help([1,2,3])

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [51]:
a = "HI"
b = "FI"
print(a ,b , sep="----", end="\t")
print(b)

HI----FI	FI

In [167]:
x = "Data" "Science" "Mentorship" "Program"
y = "By" "CampusX"

print(x, y, sep="-", end="")

DataScienceMentorshipProgram-ByCampusX

In [95]:
print(1e308)

1e+308

In [97]:
celcius = float(input("Enter celsius value "))

farenheit = celcius * (9/5) + 32
print(farenheit)

Enter celsius value 50
122.0

In [100]:
first_num = input("Enter first number ")
second_num = input("Enter second number ")

temp = first_num
first_num = second_num
second_num = temp

print("After swapping values are {}, {}".format(first_num, second_num))

Enter first number 10
Enter second number 20
After swapping values are 20, 10

In [119]:
import math
first = input("Enter first coordinate ")
second = input("Enter second coordinate ")

first_c_list = list(map(int, first.split(',')))
second_c_list = list(map(int, second.split(',')))

#print(first_c_list)
#print(second_c_list)

euclidean_distance =  math.sqrt((second_c_list[0] - first_c_list[0]) + (second_c_list[1] - first_c_list[1]))

print("Euclidean Distance {}".format(euclidean_distance))

Enter first coordinate 1,1
Enter second coordinate 2,2
Euclidean Distance 1.4142135623730951

In [122]:
p = float(input(" Enter priniciple"))
t = int(input("enter time "))
r = float(input("enter interest rate"))

si = p*r*t / 100

print("Simple interest rate is ", si)

 Enter priniciple100000
enter time 2
enter interest rate5
Simple interest rate is  10000.0

In [161]:
total_head = int(input("Enter total head "))
total_legs = int(input("Enter total legs "))

dogs = (total_legs - 2 * total_head) // 2
chiken = total_head - dogs

print('res ', dogs, chiken)
#no_of_dogs =  total_legs % total_head

#no_of_chicken = total_head - no_of_dogs
#print(" Dogs are {} and chickens are {}".format(no_of_dogs, no_of_chicken))

Enter total head 4
Enter total legs 12
res  2 2

In [131]:
n = int(input("Enter the value of n "))
sum = 0
for x in range(1, n+1):
    sum += x**2

print(sum)

Enter the value of n 5
55

In [139]:
st = int(input("Enter first num "))
sn = int(input("Enter second num "))
rt = int(input("Enter result term "))
res = st +(rt-1)*(sn - st)

print(res)

Enter first num 2
Enter second num 4
Enter result term 9
18

In [145]:
fn = int(input("Enter first numerator"))
fd = int(input("Enter first denominator"))
sn = int(input("Enter second numerator"))
sd = int(input("Enter second denominator"))

res = (fn * sd + fd * sn) /  (fd * sd) 
print(res)
print(" result is {} / {}".format( (fn * sd + fd * sn), (fd * sd) ))

Enter first numerator1
Enter first denominator2
Enter second numerator1
Enter second denominator3
0.8333333333333334
 result is 5 / 6

In [ ]:
th = int(input("Enter height of tank"))
tw = int(input("Enter width of tank"))
tb = int(input("Enter breadth of tank "))


gh = int(input("Enter height of glass"))
gr = int(input("Enter radius of glass"))



tv = th * tw * tb
gv = 3.14 * gr**2 * gh

print("Result is ", tv // gv)

In [180]:
a1 = int(input("Enter angle 1st "))
a2 = int(input("Enter angle 2nd"))
a3 = int(input("Enter angle 3rd"))

if (a1+a2) > a3:
    print('Triangle')
else:
    print('Not triangle')

Enter angle 1st 60
Enter angle 2nd70
Enter angle 3rd30
Triangle

In [184]:
cp = float(input("Enter cost price "))
sp = float(input("Enter selling price"))

if sp > cp:
    print("Profit")
else :
    print("Loss")

KeyboardInterrupt: Interrupted by user

In [3]:
import sys
while True:
    input_val = input("""
        1. cm to ft
        2. km to miles
        3. USD to INR
        4. exit
    """)
    
    if input_val == "1":
        cm = float(input("Enter value in Centimeter"))
        print("CM to Feet {}".format(cm*0.0328))
    elif input_val == "2":

        km = float(input("Enter value in km to miles"))
        print("KM to Miles {}".format(km*0.621371))
    elif input_val == "3":
        usd = float(input("Enter value in usd to inr"))
        print("USD to INR {}".format(usd * 87))
    elif input_val == "4":
        break

        1. cm to ft
        2. km to miles
        3. USD to INR
        4. exit
    1
Enter value in Centimeter5
CM to Feet 0.164

        1. cm to ft
        2. km to miles
        3. USD to INR
        4. exit
    5

        1. cm to ft
        2. km to miles
        3. USD to INR
        4. exit
    3
Enter value in usd to inr48
USD to INR 4176.0

        1. cm to ft
        2. km to miles
        3. USD to INR
        4. exit
    4

In [25]:
n = int(input("Enter maximum length"))
l = []
for x in range(n):
    
    if x == 0 or x == 1:
        l.append(x)       
    else:
        res = l[-1] + l[-2]
        l.append(res)
        

print( " ".join( list(map(str, l)) ))

Enter maximum length10
0 1 1 2 3 5 8 13 21 34

In [29]:
n = int(input("Enter number"))
total = 1
for x in range(1,n+1):
    total *= x
    
print("Total ",total)

Enter number5
Total  120

In [32]:
a = 8465202

rev = 0
while a > 0:
    remainer = a % 10
    rev = rev*10 + remainer
    a = a // 10

print("Rev ", rev)

Rev  2025648

In [45]:
n = int(input("Enter n "))
total = 1
for x in range(1,n+1):
    if x % 5 == 0:
        continue
    else :
        total = total + x
        
    if total > 300:
        total = total - x
        break
    
print("Total ",total)

KeyboardInterrupt: Interrupted by user

In [47]:
sum = 0
count = 0
while True:
    input_val = input("""
        Enter any number 
        Press 0 for exit 
    """)
    
    if input_val == "0":
       break
    else:
        sum += float(input_val)
        count += 1
    
print("Sum and Avg is {} / {}".format(sum, sum / count))

        Enter any number
        Press 0 for exit
    1

        Enter any number
        Press 0 for exit
    2

        Enter any number
        Press 0 for exit
    3

        Enter any number
        Press 0 for exit
    4

        Enter any number
        Press 0 for exit
    5

        Enter any number
        Press 0 for exit
    0
Sum and Avg is 15.0 / 3.0

In [52]:
for x in range(2000,3201):
    if x % 5 != 0  and x % 7 == 0:
        print(x)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [57]:
l = []
for x in range(1000,3001):
    if x % 2 == 0 :
        l.append(x)

print(" ".join(  list(map(str, l))  ))

1000 1002 1004 1006 1008 1010 1012 1014 1016 1018 1020 1022 1024 1026 1028 1030 1032 1034 1036 1038 1040 1042 1044 1046 1048 1050 1052 1054 1056 1058 1060 1062 1064 1066 1068 1070 1072 1074 1076 1078 1080 1082 1084 1086 1088 1090 1092 1094 1096 1098 1100 1102 1104 1106 1108 1110 1112 1114 1116 1118 1120 1122 1124 1126 1128 1130 1132 1134 1136 1138 1140 1142 1144 1146 1148 1150 1152 1154 1156 1158 1160 1162 1164 1166 1168 1170 1172 1174 1176 1178 1180 1182 1184 1186 1188 1190 1192 1194 1196 1198 1200 1202 1204 1206 1208 1210 1212 1214 1216 1218 1220 1222 1224 1226 1228 1230 1232 1234 1236 1238 1240 1242 1244 1246 1248 1250 1252 1254 1256 1258 1260 1262 1264 1266 1268 1270 1272 1274 1276 1278 1280 1282 1284 1286 1288 1290 1292 1294 1296 1298 1300 1302 1304 1306 1308 1310 1312 1314 1316 1318 1320 1322 1324 1326 1328 1330 1332 1334 1336 1338 1340 1342 1344 1346 1348 1350 1352 1354 1356 1358 1360 1362 1364 1366 1368 1370 1372 1374 1376 1378 1380 1382 1384 1386 1388 1390 1392 1394 1396 1398 1400 1402 1404 1406 1408 1410 1412 1414 1416 1418 1420 1422 1424 1426 1428 1430 1432 1434 1436 1438 1440 1442 1444 1446 1448 1450 1452 1454 1456 1458 1460 1462 1464 1466 1468 1470 1472 1474 1476 1478 1480 1482 1484 1486 1488 1490 1492 1494 1496 1498 1500 1502 1504 1506 1508 1510 1512 1514 1516 1518 1520 1522 1524 1526 1528 1530 1532 1534 1536 1538 1540 1542 1544 1546 1548 1550 1552 1554 1556 1558 1560 1562 1564 1566 1568 1570 1572 1574 1576 1578 1580 1582 1584 1586 1588 1590 1592 1594 1596 1598 1600 1602 1604 1606 1608 1610 1612 1614 1616 1618 1620 1622 1624 1626 1628 1630 1632 1634 1636 1638 1640 1642 1644 1646 1648 1650 1652 1654 1656 1658 1660 1662 1664 1666 1668 1670 1672 1674 1676 1678 1680 1682 1684 1686 1688 1690 1692 1694 1696 1698 1700 1702 1704 1706 1708 1710 1712 1714 1716 1718 1720 1722 1724 1726 1728 1730 1732 1734 1736 1738 1740 1742 1744 1746 1748 1750 1752 1754 1756 1758 1760 1762 1764 1766 1768 1770 1772 1774 1776 1778 1780 1782 1784 1786 1788 1790 1792 1794 1796 1798 1800 1802 1804 1806 1808 1810 1812 1814 1816 1818 1820 1822 1824 1826 1828 1830 1832 1834 1836 1838 1840 1842 1844 1846 1848 1850 1852 1854 1856 1858 1860 1862 1864 1866 1868 1870 1872 1874 1876 1878 1880 1882 1884 1886 1888 1890 1892 1894 1896 1898 1900 1902 1904 1906 1908 1910 1912 1914 1916 1918 1920 1922 1924 1926 1928 1930 1932 1934 1936 1938 1940 1942 1944 1946 1948 1950 1952 1954 1956 1958 1960 1962 1964 1966 1968 1970 1972 1974 1976 1978 1980 1982 1984 1986 1988 1990 1992 1994 1996 1998 2000 2002 2004 2006 2008 2010 2012 2014 2016 2018 2020 2022 2024 2026 2028 2030 2032 2034 2036 2038 2040 2042 2044 2046 2048 2050 2052 2054 2056 2058 2060 2062 2064 2066 2068 2070 2072 2074 2076 2078 2080 2082 2084 2086 2088 2090 2092 2094 2096 2098 2100 2102 2104 2106 2108 2110 2112 2114 2116 2118 2120 2122 2124 2126 2128 2130 2132 2134 2136 2138 2140 2142 2144 2146 2148 2150 2152 2154 2156 2158 2160 2162 2164 2166 2168 2170 2172 2174 2176 2178 2180 2182 2184 2186 2188 2190 2192 2194 2196 2198 2200 2202 2204 2206 2208 2210 2212 2214 2216 2218 2220 2222 2224 2226 2228 2230 2232 2234 2236 2238 2240 2242 2244 2246 2248 2250 2252 2254 2256 2258 2260 2262 2264 2266 2268 2270 2272 2274 2276 2278 2280 2282 2284 2286 2288 2290 2292 2294 2296 2298 2300 2302 2304 2306 2308 2310 2312 2314 2316 2318 2320 2322 2324 2326 2328 2330 2332 2334 2336 2338 2340 2342 2344 2346 2348 2350 2352 2354 2356 2358 2360 2362 2364 2366 2368 2370 2372 2374 2376 2378 2380 2382 2384 2386 2388 2390 2392 2394 2396 2398 2400 2402 2404 2406 2408 2410 2412 2414 2416 2418 2420 2422 2424 2426 2428 2430 2432 2434 2436 2438 2440 2442 2444 2446 2448 2450 2452 2454 2456 2458 2460 2462 2464 2466 2468 2470 2472 2474 2476 2478 2480 2482 2484 2486 2488 2490 2492 2494 2496 2498 2500 2502 2504 2506 2508 2510 2512 2514 2516 2518 2520 2522 2524 2526 2528 2530 2532 2534 2536 2538 2540 2542 2544 2546 2548 2550 2552 2554 2556 2558 2560 2562 2564 2566 2568 2570 2572 2574 2576 2578 2580 2582 2584 2586 2588 2590 2592 2594 2596 2598 2600 2602 2604 2606 2608 2610 2612 2614 2616 2618 2620 2622 2624 2626 2628 2630 2632 2634 2636 2638 2640 2642 2644 2646 2648 2650 2652 2654 2656 2658 2660 2662 2664 2666 2668 2670 2672 2674 2676 2678 2680 2682 2684 2686 2688 2690 2692 2694 2696 2698 2700 2702 2704 2706 2708 2710 2712 2714 2716 2718 2720 2722 2724 2726 2728 2730 2732 2734 2736 2738 2740 2742 2744 2746 2748 2750 2752 2754 2756 2758 2760 2762 2764 2766 2768 2770 2772 2774 2776 2778 2780 2782 2784 2786 2788 2790 2792 2794 2796 2798 2800 2802 2804 2806 2808 2810 2812 2814 2816 2818 2820 2822 2824 2826 2828 2830 2832 2834 2836 2838 2840 2842 2844 2846 2848 2850 2852 2854 2856 2858 2860 2862 2864 2866 2868 2870 2872 2874 2876 2878 2880 2882 2884 2886 2888 2890 2892 2894 2896 2898 2900 2902 2904 2906 2908 2910 2912 2914 2916 2918 2920 2922 2924 2926 2928 2930 2932 2934 2936 2938 2940 2942 2944 2946 2948 2950 2952 2954 2956 2958 2960 2962 2964 2966 2968 2970 2972 2974 2976 2978 2980 2982 2984 2986 2988 2990 2992 2994 2996 2998 3000

In [59]:
initial_point = [0,0]
while True:
    input_val = input("""
        Enter UP, DOWN, LEFT, RIGHT
    """)
    
    if input_val == "UP":
        initial_point[1] += 1
    elif input_val == "DOWN":
        initial_point[1] -= 1
    elif input_val == "LEFT":
        initial_point[0] -= 1
    elif input_val == "RIGHT":
        initial_point[0] += 1
    elif input_val == "!":
        break
        
distance =  (initial_point[0] **2 + initial_point[1]**2) ** 0.5

print("Distance is ", distance)

        Enter UP, DOWN, LEFT, RIGHT
    UP

        Enter UP, DOWN, LEFT, RIGHT
    UP

        Enter UP, DOWN, LEFT, RIGHT
    RIGHT

        Enter UP, DOWN, LEFT, RIGHT
    RIGHT

        Enter UP, DOWN, LEFT, RIGHT
    !
Distance is  2.8284271247461903

In [79]:
a = 13
flag = False
for x in range(2, a//2+1):
    if a % x == 0:
        flag = True
        break
if not flag:
    print("Prime")
else:
    print("Not Prime")

Prime

In [94]:
n = 1234
power = len(str(n))
l = []
res = 0
while n > 0:
    res += (n % 10) ** power 
    n = n // 10
    

print( res )

354

In [113]:
hour = int(input("enter hour "))
minute = int(input("enter minute "))

degree = 30 * hour - 5.5 * minute 

print("Degree is ", degree)

enter hour 9
enter minute 30
Degree is  105.0

In [114]:
l1 = list(map(int, input("Enter L1 ").split(",")))
r1 = list(map(int,input("Enter R1 ").split(",")))
l2 = list(map(int,input("Enter L2 ").split(",")))
r2 = list(map(int, input("Enter R2 ").split(",")))

x1, y1 = l1  # Top-left of Rect1
x2, y2 = r1  # Bottom-right of Rect1
x3, y3 = l2  # Top-left of Rect2
x4, y4 = r2  # Bottom-right of Rect2


if not (x3 > x2 or x1 > x4)  or (y2 > y1 or y4 > y3):
    print("Overlapping")
else:
    print("Not overlapping")

KeyboardInterrupt: Interrupted by user

In [138]:
n = int(input("Enter n"))
for i in range(n,0,-1):
    for j in range(i):
        print(i-j, end=" ")
    print()

Enter n10
10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [140]:
n = int(input("Enter n"))
for i in range(0,n):
    for j in range(i):
        print('*', end=" ")
    print()

for i in range(n,0,-1):
    for j in range(i):
        print('*', end=" ")
    print()

Enter n10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
n = int(input("Enter n"))
for i in range(1,n+1):
    print(" "*n, end="")
    print("* "*i)
    n =n -1

Enter n10
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [12]:
n = int(input("Enter n"))
for i in range(1, n+1):
    for j in range(i):
        print(i-j, end=" ")
    print("")

Enter n5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [157]:
x = 7

In [13]:
sum = 1
n = int(input("Enter value of n "))
t = int(input("Enter value of t "))
for x in range(2,n+1):
    sum += (t**x / x)
    
print("Sum is ", sum)

Enter value of n 5
Enter value of t 10
Sum is  22884.333333333332

In [15]:
n = int(input("Enter value of n "))
x = int(input("Enter value of x "))

sum = (x - 1) / x
for i in range(2, n+1):
    sum += 1/i*(((x-1) / x)**i)

print("Sum is ", sum)

Enter value of n 5
Enter value of x 10
Sum is  1.8301230000000004

In [38]:
n = int(input("Enter n "))
start = 2
sum = 0
for x in range(1, n+1):
    sum += start
    if x > n-1:
        print(start , end="")
    else:
        print(start , end="+")
    start = start * 10 + 2
 
print(" ")
print("Sum :", sum)

Enter n 5
2+22+222+2222+22222
Sum : 24690

In [41]:
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            for l in range(1,5):
                print(i,j,k,l)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

In [49]:
n = int(input("Enter value of n "))
l = []
while n > 0:
    l.append(str(n % 2))
    n = n // 2
    
print("".join(l[::-1]))

Enter value of n 54
110110

In [53]:
x = int(input("Enter value of x "))
y = int(input("Enter value of y "))

if x > y:
    greater = x
else:
    greater = y
    
lcm = 0
while True :
    if greater % x == 0 and greater % y == 0:
        lcm = greater
        break
        
    greater += 1
    
print("LCM is ", lcm)

Enter value of x 5
Enter value of y 15
LCM is  15

In [57]:
x = int(input("Enter value of x "))
y = int(input("Enter value of y "))

if x < y:
    smaller = x
else:
    smaller = y
hcf = 0
for i in range(1, smaller + 1):
    if x % i == 0 and y % i == 0:
        hcf = i
        continue
        
        
print("HCF ", hcf)

Enter value of x 12
Enter value of y 16
HCF  4

In [61]:
string = "Data science mentorship program"
sl = string.split(" ")
print("".join([ x[0].upper()  for x in sl]))

DSMP

In [65]:
str1 = 'campusx'
str2 = 'data'

str1_length = len(str1)
middle = str1_length // 2

print(str1[0:middle] +  str2 + str1[middle:])

camdatapusx

In [66]:
str1 = 'PyNaTive'
resl = ""
resu = ""
for x in str1:
    if x.islower():
        resl += x
    else:
        resu += x
        
print(resl + resu)

yaivePNT

In [89]:
str1 = 'hel123O4every093'
sum1 = 0
counter = 0
for x in str1:
    if x.isdigit():
        sum1 += int(x)
        counter += 1

print(l)  # Output: [1, 2, 3, 4, 0, 9, 3]
print("Sum is", sum1, "and average is", sum1 / counter)  # Corrected sum usage

[1, 2, 3, 4, 0, 9, 3]
Sum is 22 and average is 3.142857142857143

In [85]:
print(sum([1,2,3]))

AttributeError: 'list' object has no attribute 'sum'

In [90]:
str1 = 'I am 25 years and 10 months old'

res = ""
for x in str1:
    if x.isdigit():
        res += x

print(res)

2510

In [93]:
str1 = input("Enter String")
mid = len(str1) // 2
if str1[0 : mid] == str1[mid:]:
    print("Symatrical")
else:
    print("Not Symetrical")

Enter StringNitin
Not Symetrical

In [96]:
str1 = "my name is laxmi"
ls = str1.split(" ")
print(ls)
print(" ".join(ls[::-1]))

['my', 'name', 'is', 'laxmi']
laxmi is name my

In [104]:
A = "apple banana mango" 
B = "banana fruits mango"

fl = A.split(" ") + B.split(" ")
print([ x for x in fl if fl.count(x) == 1])

['apple', 'fruits']

In [116]:
sen = "We can learn data science through campusx mentorship program."
word = "campusx"
sen_l = sen.split(" ")
counter = 0
for x in sen_l:
    counter += 1
    if word == x:
        print("Location is ", counter)
        break
        
print("")

Location is  7

In [118]:
str1 = "We can learn data science through campusx mentorship program."

print(set(list(str1)))

{'n', 'o', 'm', 't', 'W', 'a', 'i', 'p', '.', 'h', 's', 'g', 'l', 'c', 'd', 'r', 'x', ' ', 'e', 'u'}

In [119]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

print(list(zip(list1, list2)))

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

In [126]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][-2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [127]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for x,y in list(zip(candy_list, no_of_items)):
    print(x , '-', y)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [129]:
list1 = [1,2,3,4,5,6]
sum_res = 0
res=[]
for x in list1:
    sum_res += x
    res.append(sum_res)

print(res)

[1, 3, 6, 10, 15, 21]

In [135]:
l1 = [2,4,6,10,1]
res= []
for x in l1:
    sum1 = 0
    for j in l1:
        if j >= x:
            sum1 += j
    res.append(sum1)
    
print(res)

[22, 20, 16, 10, 23]

In [139]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67, 34]
res = []
for x in num1:
    if x in num2:
        res.append(x)
print(res)

[67, 89, 34]

In [184]:
l1 = ['1ac21', '23fg', '456', '098d','1','kls']
res = []
for x in l1:
    product = 1
    for y in x:
        if y.isdigit():
            product = product * int(y)
            
    res.append(product)
    
l3 = sorted(list(zip(res, l1)), reverse=True)

print("Res ",l3)
print( [i[1] for i in sorted(list(zip(res, l1)), reverse=True)])

Res  [(120, '456'), (6, '23fg'), (2, '1ac21'), (1, 'kls'), (1, '1'), (0, '098d')]
['456', '23fg', '1ac21', 'kls', '1', '098d']

In [154]:
str1 = " ".join(['CampusX is a channel', 'for data-science', 'aspirants.'])
print(str1)
inputval = " "

print(str1.split(inputval))

CampusX is a channel for data-science aspirants.
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [202]:
l1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

print(" ".join([ "".join(x) for x in l1 ]))

campux is best channel

In [205]:
l1 = ['campusxIs', 'bestFor', 'dataScientist']
res = []
for x in l1:
    str1 = ""
    for y in x:
        if y.isupper():
            str1 += " "+y
        else:
            str1 += y
            
    res.append(str1)
    
print(res)

['campusx Is', 'best For', 'data Scientist']

In [208]:
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]

print(set(l1+l2))

{1, 2, 3, 4, 5, 7, 8}

In [209]:
l1 = [[1,2,3],[4,5,6],[7,8,9]]
res = []
for x in l1:
    res.append(max(x))
print(res)

[3, 6, 9]

In [260]:
l1 = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]


print( [  [ (y+3*x) for y in range(0,3) ]  for x in range(0,3)   ] )

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [275]:
matrix = [
[1,2,3,5],
[4,5,6,1],
[7,8,9,3]
]

print([ [ row[i]  for row in matrix ] for i in range(len(matrix))  ])

[[1, 2, 3, 5], [4, 5, 6, 1], [7, 8, 9, 3]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [274]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

print([ y  for x in matrix for y in x   ])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [427]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 


unique = []
for x in test_list:
    unique.append(x[0])

unique = set(unique)

opt = []
for y in unique:
    opt.append([y])
    for z in test_list:
        if y == z[0]:
            opt[-1].append((z[1]))
            
print(opt)

[[5, 6, 7, 8], [6, 10], [7, 13]]

In [291]:
t = (2, 6, 7, 8, 10,15,20)
res = [t[0] * t[1]]
for x in range(1 , len(t) - 1):
    res.append( t[x-1] * t[x] + t[x+1] * t[x]  )
    
res.append(t[-1]*t[-2])

print(res)

[12, 54, 98, 136, 230, 450, 300]

In [301]:
t1 = (1,2,3,0)
t2 = (1,2,1,0)

res = list(zip(t1,t2))
flag = True
for x in res:
    if x[0] != x[1]:
        flag=False
        
if flag:
    print("Same")
else:
    print("Not Same")

Not Same

In [302]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

lc = 0
tc = 0
sc = 0

for x in list1:
    if type(x) == list:
        lc += 1
    elif type(x) == tuple:
        tc += 1
    elif type(x) == set:
        sc += 1
        
print("""
    List Count {}
    Tuple Count {}
    Set Count {}
""".format(lc,tc,sc))

    List Count 2
    Tuple Count 1
    Set Count 2

In [314]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

# res = []
# for x in ar1:
#     if x in ar2 and x in ar3:
#         res.append(x)
        
# print(res)

res = set(ar1).union(set(ar2)).intersection(ar3)
print(list(res))

[80, 20]

In [323]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowel = "aeiouAEIOU"

res = set(vowel).intersection(Str1
print(res, len(res), end=" ", sep=",  Count ")

{'A', 'i', 'o', 'a', 'e', 'u'},  Count 6

In [330]:
 str = "101010"
    
tc = set(str)
if len(tc) == 2:
    print("Binary")
else:
    print("Not Binary")

Binary

In [349]:
m = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

# print(*m)

print(set([ y for x in m for y in x]))

{1, 2, 3, 4, 5, 6, 7, 9}

In [361]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}


print([ y  for x in lst1 for y in lst2 if x == y ])

[9, 11, 26, 28]

In [372]:
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

res = dict()
for x in test_dict:
    res[len(set(test_dict[x]))] = x
    print(x, ': ' ,test_dict[x], ", ", len(set(test_dict[x])))
    
sortedval = sorted(res, reverse=True)[0]
print(res[sortedval])

CampusX :  [5, 7, 7, 7, 7] ,  2
is :  [6, 7, 7, 7] ,  2
Best :  [9, 9, 6, 5, 5] ,  3
Best

In [380]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
res = ""
for x in test_str.split(" "):
    if x in repl_dict:
        res +=  repl_dict[x] + " "
    else:
        res += x+" "
        
print(res)

CampusX best for DS students.

In [387]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

res = []

for x in key_list:
    d = dict()
    for y in test_list:
        d[x] = y
        res.append(d)
    
print(res)

[{'name': 8}, {'name': 8}, {'name': 8}, {'name': 8}, {'id': 8}, {'id': 8}, {'id': 8}, {'id': 8}]

In [393]:
L1 = [('A', 1), ('B', 2), ('C', 3)]
d = dict()
for x in L1:
    d[x[0]] = [x[1]]
    #print(x)
print(d)

{'A': [1], 'B': [2], 'C': [3]}

In [399]:
d1 = {'c': [10, 34, 3]}

res = dict()
for x in sorted( d1):
    res[x] = sorted(d1[x])
    #print(d1[x])
print(res)

{'c': [3, 10, 34]}

In [429]:
def uniqueList(arg):
    return list(set(arg))
    
    
resp = uniqueList([1,2,3,3,3,3,4,5])
print("List is ", resp)

List is  [1, 2, 3, 4, 5]

In [434]:
def sortString(arg):
    return "-".join(sorted(arg.split('-')))
    

res = sortString("green-red-yellow-black-white")
print("Res is :", res)

Res is : black-green-red-white-yellow

In [436]:
def countUpperLower(arg):
    lc =0
    uc = 0
    for x in arg:
        if x.isupper():
            uc += 1
        elif x.islower():
            lc += 1
    
    return {
        "Upper Letter Count": uc,
        "Lower letter Count": lc
    }


res = countUpperLower('CampusX is an Online Mentorship Program fOr EnginEering studentS.')
print('Res is ', res)

Res is  {'Upper Letter Count': 9, 'Lower letter Count': 47}

In [438]:
def getEven(arg):
    res = []
    for x in arg:
        if x % 2 == 0:
            res.append(x)
            
    return res
    
    
res = getEven( [1, 2, 3, 4, 5, 6, 7, 8, 9])
print("Res is ", res)

Res is  [2, 4, 6, 8]

In [450]:

def concateDict(*d):
    newd = {}
    for x in d:
        for y in x:
            newd[y] = x[y]
            #print(y, x[y])
            
    return newd
    


d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50, 6:60}
d3={7:500, 8:600}
res = concateDict(d1,d2, d3)
print(res)

{1: 10, 2: 20, 3: 30, 4: 40, 7: 500, 8: 600}

In [31]:
x = 10
print(str(x))  # Output: '10'

10

In [1]:
import math
def getHisto(arg):
    d = dict()
    min_val = math.floor(min(arg) / 10) * 10
    max_val = math.ceil(max(arg) / 10) * 10
    
    d = {}
    for x in range(min_val , max_val, 10):
        count = 0
        for j in arg:
            if x+1 <= j <= x+10:
                count += 1
        
        keyval = str(x+1) + "-" + str(x+10)
        d[keyval] = count
              
    return d


res = getHisto([13,42,15,37,22,39,41,50])
print(res)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

In [525]:
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }
    
]

In [543]:
print([ x['fname'] + x['lname'] for x in  list(filter(lambda x : x['grade'] == "highly-skilled"  , employees ))   ] )

['NehaSingh', 'AbhinavSharma']

In [547]:
from functools import reduce
l1 = [1,2,3,4,5]

print( [ reduce( lambda x,y: x+y  , l1 ) ] )

[15]

In [551]:
print( list( filter( lambda x: x>2  , l1 ) ) )

[3, 4, 5]

In [553]:
print( list(map( lambda x :x**2  , l1) ) )

[1, 4, 9, 16, 25]

In [567]:
def getPerfect(num):
    sum = 0
    for i in range(1, num):
        if num % i == 0:
            sum += i
            
            
    return sum == num
    
res = getPerfect(6)
print(res)

True

In [16]:
def getClosest(param, criteria):
    d = dict()
    for x in param:
        res = ((x[0] - criteria[0])**2 + (x[1] - criteria[1])**2 ) ** 0.5
        d[res] = x
        
    return d[sorted(d)[0]]

res = getClosest([(1,1),(2,2),(3,3),(4,4)], (1,1))
print(res)

(1, 1)

In [21]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

res = lambda l1,l2,l3 : l1+l2+l3

print(res(l1, l2, l3))

print(list( map( lambda l1,l2,l3 : l1+l2+l3  , l1,l2,l3  )   ))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[12, 15, 18]

In [30]:
list1 = [1,2,3,4,5,6]


print(list( map( lambda value: value[1]**value[0] , enumerate(list1)) ))

[1, 2, 9, 64, 625, 7776]

In [37]:
str1 = "Hello World, Python is Amazing!"
vowels = "aeiou"
print( list(  filter( lambda x : x in vowels   , str1.lower() )   )

['e', 'o', 'o', 'o', 'i', 'a', 'a', 'i']

In [41]:
from functools import reduce

l1 = [[1,2,3],[4,5,6],[7,8,9]]

print(list( reduce( lambda x,y: x+y   , l1  )  ))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
def bow(l):
    vocab = set()
    for x in l:
        vocab.update(x.split(' '))
        
    print(l)
    print(vocab)
    
    result = []
    for y in l:
        result.append([])
        for z in vocab:
            result[-1].append(y.count(z))
            

    return result



l = [
    'cat mat rat sat',
    'hat bat fat kat',
    'lat rat cat sat'
]
res = bow(l)
print("Result is ", res)

['cat mat rat sat', 'hat bat fat kat', 'lat rat cat sat']
{'bat', 'hat', 'lat', 'kat', 'mat', 'cat', 'sat', 'fat', 'rat'}
Result is  [[0, 0, 0, 0, 1, 1, 1, 0, 1], [1, 1, 0, 1, 0, 0, 0, 1, 0], [0, 0, 1, 0, 0, 1, 1, 0, 1]]